<div class="container">
  <h1 class="text-center mt-2">YatzyTracker</h1>
  <div class="board">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-2 fw-bold">Lars</div>
      <div class="col-2 fw-bold">Rebecka</div>
    </div>
    <div class="row">
      <div class="col-3 number">1ere</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">2ere</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">3ere</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">4ere</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">5ere</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">6ere</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Sum</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Bonus</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Et par</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">To par</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Tre par</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">3 ens</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">4 ens</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">2x3 ens</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Lille</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Stor</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Royal</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Hus</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Chance</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">Yatzy</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
    <div class="row">
      <div class="col-3 number">I alt</div>
      <div class="col-2"></div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
