body {
    background: rgb(146,19,17);
background: linear-gradient(333deg, rgba(146,19,17,1) 50%, rgba(239,130,128,1) 100%);
    background-attachment: fixed;
}

.customPrimary {
 // #921311 mørkerød
 // #311847 mørkelilla 
}
