body {
    background: rgb(255,255,255);
background: linear-gradient(144deg, rgba(255,255,255,1) 0%, rgba(146,19,17,1) 58%);
    background-attachment: fixed;
    color: #FBFBFB;
}

.customPrimary {
 // #921311 mørkerød
 // #311847 mørkelilla 
}
